@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-image: url(https://tfhtml.themepul.com/zmovo/image/body.jpg);
    }
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 5s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .animate-bounce-slow {
        animation: bounce-slow 2s ease-in-out infinite;
    }

    @keyframes bounce-slow {

        0%,
        100% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(-6px);
        }

        50% {
            transform: translateY(0);
        }
    }

    @keyframes heartbeat {

        0%,
        100% {
            transform: scale(1);
        }

        25% {
            transform: scale(1.2);
        }

        50% {
            transform: scale(1);
        }

        75% {
            transform: scale(1.15);
        }
    }

    .heart-beat {
        display: inline-block;
        animation: heartbeat 1s ease-in-out infinite;
        color: red;
    }

    .animate-spin-once {
        animation: spin-once 0.8s ease-in-out 1;
    }

    @keyframes spin-once {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}